<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/general_page.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="main">
        <div class="fav">ReadMore</div>
        <div class="nav">
            <ul class="moveright">
                <li><a href="{{url_for('admin_dash')}}">Dashboard</a></li>
                <li><a href="{{url_for('admin_sections')}}">Sections</a></li>
                <li><a href="{{url_for('admin_requests')}}">Requests</a></li>
                <li><a href="{{url_for('search')}}">Search</a></li>
                <li><a href="{{url_for('login')}}">Logout</a></li>
            </ul>
        </div>
        <div class="heading">Section Information</div>
        <div class="form">
            <form method="POST">
                <table id="info">
                    <tr>
                        <td text-align="right"><label for="section_name">Name: </label></td>
                        <td text-align="left"><input type="text" name="section_name" value="{{section.name}}"></td>
                    </tr>
                    <tr>
                        <td text-align="right"><label for="section_desc">Description: </label></td>
                        <td text-align="left"><textarea id="section_desc" name="section_desc" rows="4" cols="50">{{section.description}}</textarea></td>
                    </tr>
                </table>
                <div class="btn">
                    <input class="btn" type="submit" name="action" value="Edit">
                    <input class="btn" type="submit" name="action" value="Delete Section">
                </div>
                <div class="message">
                    <p id="Success"><b>{{msg}}</b></p>
                </div>
            </form>
        </div>
        <div class="heading">Book List</div>
        <table>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Available Copies</th>
            </tr>
        {% for book in books %}
            <tr>
                <td class="book_name"><a href="{{url_for('book_page',s_name=section.name,b_id=book.id)}}">{{book.name}}</a></td>
                <td class="author">{{book.author.name}}</td>
                {%set avail_copies=available_copies(book)%}
                <td class="tot_copies">{{avail_copies}}/{{book.total_copies}}</td>
            </tr>
        {% endfor %}
        </table>
        <div class="heading">Add New Book</div>
        <form autocomplete="off" method="POST">
            <table id="add_book">
                <tr>
                    <td text-align="right"><label for="title">Title: </label></td>
                    <td text-align="left"><input type="text" name="title" placeholder="Enter book name"></td>
                </tr>
                <tr>
                    <td text-align="right"><label for="author">Author: </label></td>
                    <td text-align="left"><input type="text" name="author" placeholder="Enter author name"></td>
                </tr>
                <tr>
                    <td text-align="right"><label for="tot_copies">Total Copies: </label></td>
                    <td text-align="left"><input type="text" name="tot_copies" placeholder="Enter number of copies"></td>
                </tr>
                <tr>
                    <td text-align="right"><label for="content">Content: </label></td>
                    <td text-align="left"><textarea id="content" name="content" rows="4" cols="50"></textarea></td>
                </tr>
            </table>
            <div class="btn">
                <input class="btn" type="submit" name="action" value="Create Book">
            </div>
        </form>
    </div>

</body>
</html>